<%= link_to 'New Ticket', new_ticket_path %>
<br><br>

<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Summary</th>
    <th>Problem</th>
    <th>Response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.summary %></td>
    <td><%= ticket.problem %></td>
    <td><%= ticket.response %></td>
    <td><%= link_to 'Show', ticket %></td>
  </tr>
<% end %>
</table>

<br />
