<p id="notice"><%= notice %></p>

<p>
  <b>Summary:</b>
  <%= @ticket.summary %>
</p>

<p>
  <b>Problem:</b>
  <%= @ticket.problem %>
</p>

<p>
  <b>Response:</b>
  <%= @ticket.response %>
</p>


<%= link_to 'Back', tickets_path %>
